@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
    @if (HttpContextAccessor.HttpContext.Request.Cookies["loggedIn"] != "true")
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-page="/Accounts/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-page="/Accounts/Login">Login</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <p class="text-light">Logged In!</p>
        </li>
    }
</ul>
