@page
@model CurrentEventModel
@{
    ViewData["Title"] = "Current Event page";
}

<div class="text-center">
    <h1 class="display-4">The Current Event</h1>
    <p>The convention has not started yet, come back here when it has!</p>
</div>
