@page
@model Event3Model
@{
    ViewData["Title"] = "Furry Games Event page";
}

<div class="text-center">
    <h1 class="display-4">Furry Games!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_163d2910-eee5-43f9-955a-fd01b32b2a08&instanceId=51320~private(usr_1c84fd71-365d-4601-b10c-76a26020364a)~region(us)~nonce(f073a4f0-5894-41a6-81c8-9c3e0ee36423)" ><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Welcome to the Furry Games! Where we play furry specific games, learn some about each other, and chill!</p>
    <p>This event is held in the Furry Games world in VRChat. Have fun!</p>
</div>
