@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<body>

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Use the links above to check out our merch store, or below to join the current event, see the event schedule, and more! </p>
    <div id="home-links">
        <a asp-area="" asp-page="/Events/CurrentEvent"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join the current event now! <i class="fa-solid fa-calendar-check"></i></button></a>
        <a asp-area="" asp-page="/Events"><button class="link-button-class" id="link-button" onclick="ButtonWait()">See a list of events! <i class="fa-solid fa-calendar-days"></i></button></a>
        <a href="https://discord.gg/rGBn2uW"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join the Discord! <i class="fa-brands fa-discord"></i></button></a>
        <a asp-area="" asp-page="/Events/hosting"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Host an event of your own! <i class="fa-solid fa-calendar-plus"></i></button></a>
        <a asp-area="" asp-page="/dealersDen"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Grab a spot at our Dealers Den!</button></a>
    </div>
</div>
</body>
</html>